@font-face {
    font-family: "Rosario-Regular";
    src: url("../font/Rosario/Rosario-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: "Rosario-Regular", "Helvetica Neue", Ariel, sans-serif;
	color: #333;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
header h2 {
	margin-top: 40px;
}
.clear {
	clear: both;
}
.top-bar.fix {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: #EBF2F2;
	z-index: 100;
}
a {
	text-decoration: none;
	color: #678282;
}
p {
	line-height: 25px;
}
.red {
	color: red;
}
.important {
	font-size: 18px;
	padding: 8px 0;
}
nav #back {
	float:left;
}
nav #back li {
	padding: 0;
}
nav ul {
	float: right;
	list-style-type: none;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	margin: 20px 25px;
}
nav ul li {
	float: left;
	padding: 0 10px;
}
.container {
	margin: 60px 0;
		
}
#main_banner.index {
	background: url(../img/14.jpg) no-repeat center center;
	background-size: cover;
}
#main_banner.demo .carousel-slide:first-child .caption, #main_banner.demo .carousel-slide-arrow:first-child .caption{
	font-size: 36px;
}
.contents_wrap {
	padding: 80px 0;
}
.contents_wrap:nth-child(odd) {
	background: #678282;
	color: #f0f0f0;
}
.wrap {
	width: 950px;
	margin: 0 auto;
}
.preview {
    display: inline-block;
    margin-right: 20px;
}
.preview:first-child {
	margin-right: 100px;
}
.preview img {
	width: 100%;
	height: auto;
}
ol {
	-webkit-padding-start: 21px;
	-moz-padding-start: 21px;
}
#touch img {
	margin: 10px 10px 0 0;
}
#contact img{
	margin: 10px 20px 0 0;
}
@media (max-width: 1000px) {
	.wrap {
		width: 750px;
	}
	.preview:first-child {
		margin-right: 20px;
	}
	#touch img {
		margin: 10px 5px 0 0;
	}
}

@media (max-width: 768px) {
	#menu {
		margin: 20px 25px;
		float: right;
		color:#678282;
		cursor: pointer;
	}
	#nav {
		width: 100%;
		margin: 0;
		padding: 0 0 10px 0;
		background: #EBF2F2;
	}
	#nav li {
		float: none;
		text-align: center;
		padding: 5px 0;
	}
	.wrap {
		width: 420px;
	}
	.contents_wrap {
		padding: 50px 0;
	}
	.preview {
		width: 100%;
		display: block;
		margin: 0 0 20px 0; 
	}
	#touch img {
		margin: 10px 10px 0 0;
	}
	#contact img {
		margin: 10px 7px 0 0;
		width: 95px;
		height: 95px;
	}
}

@media (max-width: 480px) {
	.wrap {
		width: 300px;
	}
	.contents_wrap {
		padding: 30px 0;
	}
	#contact img {
		margin: 10px 10px 0 0;
		width: 116px;
		height: 116px;
	}
}