@font-face {
    font-family: "Rosario-Regular";
    src: url("../font/Rosario/Rosario-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: "Rosario-Regular", "Helvetica Neue", Ariel, sans-serif;
	color: #333;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
h3 {
	padding-top: 20px;
}
.clear {
	clear: both;
}
.top-bar.fix {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: #EBF2F2;
	z-index: 100;
}
a {
	text-decoration: none;
	color: #678282;
}
p {
	line-height: 25px;
}
.red {
	color: red;
}
.important {
	font-size: 18px;
	padding: 8px 0;
}
nav #back {
	float:left;
}
nav #back li {
	padding: 0;
}
nav ul {
	float: right;
	list-style-type: none;
	-webkit-padding-start: 0;
	-moz-padding-start: 0;
	margin: 20px 25px;
}
nav ul li {
	float: left;
	padding: 0 10px;
}

.container {
	margin: 60px 0;
		
}
#main_banner.index {
	height: 400px;
	background: url(../img/14.jpg) no-repeat center center;
	background-size: cover;
}
#main_banner.demo .carousel-slide:first-child .caption{
	font-size: 36px;
}
.contents_wrap {
	padding: 80px 0;
}
.contents_wrap:nth-child(odd) {
	background: #678282;
	color: #f0f0f0;
}
.wrap {
	width: 750px;
	margin: 0 auto;
}
.preview {
	width: 300px;
    height: 200px;
    display: inline-block;
    background: grey;
}
.col3 {
	display: inline-block;
	background: coral;
	width: 30%;
	height: 300px;
	margin: 20px 20px 0 0;
}
